
<p>
  <b>Titulo:</b>
  <%=h @category.title %>
</p>


<p>
  <b>Descricao:</b>
  <%=h @category.description %>
</p>



<%= link_to 'Editar', edit_category_path(@category) %> |
<%= link_to 'Voltar', sites_path %>