<h1>Sobre n&oacute;s</h1>
<h2>Quem somos?</h2>
<p>Regato.com.br &eacute; um diret&oacute;rio categorizado de applica&ccedil;&otilde;es web otimizadas para iPhone e iPod Touch. A id&eacute;ia &eacute; que os visitantes compartilhem suas applica&ccedil;&otilde;es preferidas.</p>
<h2>Como acesso o Regato.com.br?</h2>
<p>Visite o website no seu iPhone ou iPod Touch e voc&ecirc; ser&aacute; automaticamente direcionado para o diret&oacute;rio. O site &eacute; formatado especialmente para o iPhone/iPod Touch&rsquo;s.</p>
<br />
<%= link_to 'Voltar', sites_path %>