<h1>Sobre n&oacute;s</h1>
<h2>Quem somos?</h2>
<p>Regato.com.br &eacute; um diret&oacute;rio categorizado de applica&ccedil;&otilde;es web otimizadas para iPhone e iPod. A id&eacute;ia &eacute; que os visitantes compartilhem suas applica&ccedil;&otilde;es preferidas.</p>
<h2>Como acesso o regato.com.br?</h2>
<p>Visite o website no seu iPhone ou iPod Touch e voc&ecirc; ser&aacute; automaticamente direcionado para o diret&oacute;rio. O site &eacute; formatado especialmente para o iPhone/iPod Touch&rsquo;s.</p>
<%= link_to 'Voltar', sites_path %>
<div id="skype_button">
	<!-- Skype 'Meu status' button http://www.skype.com/go/skypebuttons -->
	<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
	<a href="skype:edonle?call"><img src="http://mystatus.skype.com/balloon/edonle" style="border: none;" width="150" height="60" alt="Meu Skype" /></a>
	<br />Fale conosco!!!
</div>